In [20]:
#Dependences
import csv
import os 
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Read data file
artist_data = pd.read_csv("artists.csv")
artist_data.head(10)

C:\Users\clayt\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2,4,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,mbid,artist_mb,artist_lastfm,country_mb,country_lastfm,tags_mb,tags_lastfm,listeners_lastfm,scrobbles_lastfm,ambiguous_artist
0,cc197bad-dc9c-440d-a5b5-d52ba2e14234,Coldplay,Coldplay,United Kingdom,United Kingdom,rock; pop; alternative rock; british; uk; brit...,rock; alternative; britpop; alternative rock; ...,5381567.0,360111850.0,False
1,a74b1b7f-71a5-4011-9441-d0b5e4122711,Radiohead,Radiohead,United Kingdom,United Kingdom,rock; electronic; alternative rock; british; g...,alternative; alternative rock; rock; indie; el...,4732528.0,499548797.0,False
2,8bfac288-ccc5-448d-9573-c33ea2aa5c30,Red Hot Chili Peppers,Red Hot Chili Peppers,United States,United States,rock; alternative rock; 80s; 90s; rap; metal; ...,rock; alternative rock; alternative; Funk Rock...,4620835.0,293784041.0,False
3,73e5e69d-3554-40d8-8516-00cb38737a1c,Rihanna,Rihanna,United States,Barbados; United States,pop; dance; hip hop; reggae; contemporary r b;...,pop; rnb; female vocalists; dance; Hip-Hop; Ri...,4558193.0,199248986.0,False
4,b95ce3ff-3d05-4e87-9e01-c97b66af13d4,Eminem,Eminem,United States,United States,turkish; rap; american; hip-hop; hip hop; hiph...,rap; Hip-Hop; Eminem; hip hop; pop; american; ...,4517997.0,199507511.0,False
5,95e1ead9-4d31-4808-a7ac-32c3614c116b,The Killers,The Killers,United States,NaN,synthpop; alternative rock; american; new wave...,indie; rock; indie rock; alternative; alternat...,4428868.0,208722092.0,False
6,164f0d73-1234-4e2c-8743-d77bf2191051,Kanye West,Kanye West,United States,United States,synthpop; pop; american; hip-hop; hip hop; ele...,Hip-Hop; rap; hip hop; rnb; Kanye West; seen l...,4390502.0,238603850.0,False
7,5b11f4ce-a62d-471e-81fc-a69a8278c7da,Nirvana,Nirvana,United States,United States,rock; alternative rock; 90s; punk; american; e...,Grunge; rock; alternative; alternative rock; 9...,4272894.0,222303859.0,False
8,9c9f1380-2516-4fc9-a3e6-f9f61941d090,Muse,Muse,United Kingdom,United Kingdom,rock; electronic; synthpop; alternative rock; ...,alternative rock; rock; alternative; Progressi...,4089612.0,344838631.0,False
9,0383dadf-2a4e-4d10-a46a-e9e041da8eb3,Queen,Queen,United Kingdom,United Kingdom,rock; progressive rock; 70s; 80s; 90s; pop-roc...,classic rock; rock; 80s; hard rock; glam rock;...,4023379.0,191711573.0,False

In [3]:
#Convert artist data into a pandas dataframe and remove unnecessary columns
artist_data_df= pd.DataFrame(artist_data,columns=['artist_lastfm','listeners_lastfm','scrobbles_lastfm'])

#drop missing values
artist_data_df.dropna


data_df = pd.DataFrame()

# dropping duplicates and finding unique values for artist name
for column in artist_data_df.columns[0:]:
    data = artist_data_df[column].drop_duplicates()
    df1 = pd.DataFrame(data)
    data_df = data_df.append(df1)

#add header to index
data_df.index.name = 'id'

#show data
data_df.head()

C:\Users\clayt\Anaconda3\lib\site-packages\pandas\core\frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

            artist_lastfm  listeners_lastfm  scrobbles_lastfm
id
0                Coldplay               NaN               NaN
1               Radiohead               NaN               NaN
2   Red Hot Chili Peppers               NaN               NaN
3                 Rihanna               NaN               NaN
4                  Eminem               NaN               NaN

In [4]:
#slice dataset from over 1million rows to 20000
top20000_df = data_df[0:20000]
top20000_df.shape
top20000_df.head()

            artist_lastfm  listeners_lastfm  scrobbles_lastfm
id
0                Coldplay               NaN               NaN
1               Radiohead               NaN               NaN
2   Red Hot Chili Peppers               NaN               NaN
3                 Rihanna               NaN               NaN
4                  Eminem               NaN               NaN

In [5]:
top20000_df.to_csv('top20000.csv')

In [6]:
#show list of top 20000
top20000_df.artist_lastfm.unique()

array(['Coldplay', 'Radiohead', 'Red Hot Chili Peppers', ..., 'Shifty',
       'Mahmundi', 'Los Ángeles Azules'], dtype=object)

In [7]:
billboard_data = pd.read_csv("Billboard.csv")
billboard_data.head(101)

,Unnamed: 0,Song,Artist,Weeks On #1,Weeks On Chart,Peak Rank
0,0,Blank Space,Taylor Swift,7,36,1
1,1,Take Me To Church,Hozier,0,41,2
2,2,Uptown Funk!,Mark Ronson Featuring Bruno Mars,14,56,1
3,3,Thinking Out Loud,Ed Sheeran,0,58,2
4,4,Lips Are Movin,Meghan Trainor,0,29,4
...,...,...,...,...,...,...
96,96,Homegrown Honey,Darius Rucker,0,20,53
97,97,Wet Dreamz,J. Cole,0,20,61
98,98,Yellow Flicker Beat,Lorde,0,9,90
99,99,In Your Arms,Nico & Vinz,0,12,79
100,100,Earned It (Fifty Shades Of Grey),The Weeknd,0,43,3

In [8]:
billboard_data_df= pd.DataFrame(billboard_data)
billboard_data_df.dropna(how='all')
billboard_data_df.head()

,Unnamed: 0,Song,Artist,Weeks On #1,Weeks On Chart,Peak Rank
0,0,Blank Space,Taylor Swift,7,36,1
1,1,Take Me To Church,Hozier,0,41,2
2,2,Uptown Funk!,Mark Ronson Featuring Bruno Mars,14,56,1
3,3,Thinking Out Loud,Ed Sheeran,0,58,2
4,4,Lips Are Movin,Meghan Trainor,0,29,4

In [27]:
#Converter

rds_connection_string = "postgres:postgres@localhost:5432/music_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [28]:
# Confirm tables
engine.table_names()

[]

In [30]:
#create table for top20000
top20000_df.to_sql(name='top20000', con=engine, if_exists='append', index=True)

In [31]:
#create table for Billboard
billboard_data_df.to_sql(name='Billboard', con=engine, if_exists='append', index=True)